p{
  font-size: 1;
}
#cuerpo{
  border: 3px solid #ffe521;
  border-radius: 20px;
  padding: 5%;
  margin-top: 8%;
  margin-bottom: 8%;
}
.renglon{
  width: 100%;
  border: 5px solid #ffe521;
}
#texto-inicio{
  font-size: 3;
  text-align: right;
  display: inline-flex;
}
#black{
  background-color: black;
  width: 90%;
  margin:0 auto;
}
.contenedor{
  width: 90%;
  max-width: 1000px;
  margin:0 auto;
}
.container{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: inline-flex;
}
.card {
  width: 200px;
  height: 280px;
  display: inline-flex;
  margin: 0.5rem;
  background-color: #FF009A;
  color: #FFFFFF;
  text-align: center;
  border:1px #56f89a;
}
/* verde lab #56f89a rosa lab#ff009e rosa alexandra#FF009A*/
